@import url("textStyles.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-margin {
  margin-bottom: 1rem;
}

.header-navbar-entry {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-navbar-entry:hover {
  color: #c40d2e;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title-division {
  position: relative;
  width: 100vw;
  height: 20rem;
  background-position: center;
  background-size: cover;
}

.page-title-overlay-aligned {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-outline-danger {
  border: #ffffff;
  --bs-btn-hover-bg: #c40d2f44;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
